.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-heading {
  color: #c34d76;
  font-weight: 900;
  font-size: 2.8rem;
}

.background-image-container > img {
  height: 88vh;
  position: relative;
  flex: 50%;
  max-width: 55%;
  margin-left: 4rem;
}

.form-container {
  position: absolute;
  right: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37%;
  box-shadow: 0.1rem 0.1rem 0.5rem #c34d76;
  flex: 45%;
  max-width: 40%;
  margin-right: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input {
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  width: 100%;
}

label {
  font-size: 1.1rem;
  font-weight: 900;
  color: #c34d76;
}

.button.primary-btn {
  background-color: #c34d76;
  align-self: center;
  width: 40%;
  border: none;
  font-family: "Varela Round";
  font-weight: 900;
  font-size: 1.2rem;
}

.signup-content,
.login-content {
  text-align: center;
  font-size: 1.1rem;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.3rem;
}

.signup-link,
.login-link {
  color: #c34d76;
  font-weight: 900;
  cursor: pointer;
}

.component-display {
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .login-page {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .background-image-container > img {
    height: auto;
    max-width: 80%;
    margin-left: 3rem;
  }

  .form-container {
    right: 0.7rem;
    width: 80%;
    max-width: 100%;
    margin-right: 0;
    margin-top: 12rem;
  }

  .login-form {
    width: 85%;
  }

  input {
    width: inherit;
  }
}
