.icon-style {
  color: #c34d76;
  font-size: 2rem;
  padding-left: 0.3rem;
  display: block;
  padding-bottom: 2.3rem;
}

.icon-style > img {
  padding: 2rem 0 2rem 0.3rem;
}

.far.fa-clock {
  padding-bottom: 2rem;
}

a:-webkit-any-link {
  text-decoration: none;
}
